@keyframes wave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
  
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(135deg, #90dbb4, #effffc) fixed;
    background-size: 200% 200%;
    animation: wave 10s linear infinite;
  }
  
  .login-card {
    display: flex;
    max-width: 900px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
  }
  
  .login-card-left {
    padding: 40px;
    background: url('/aircall.jpeg') no-repeat center center;
    background-size: cover; 
    color: #1f2684;
    font-weight: bold;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-card-left h1 {
    font-size: 2em;
    font-family: 'Afacad', sans-serif;
    margin-top: -141px;
    margin-bottom: 183px;
  }
  
  .login-card-left p {
    font-size: 18px;
    margin-bottom: 26px;
    margin-left: 136px;
  }
  
  .login-card-right {
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #afbefc;
  }
  
  .login-card-right h2 {
    margin-bottom: 5px;
    font-size: 1em;
  }
  
  .login-card-right h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  .login-card-right p {
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .password-requirements {
    font-size: 0.9em;
    margin-top: 10px;
  }
  
  .password-requirements p {
    margin: 5px 0;
  }
  
  .valid {
    color: green;
  }
  
  .invalid {
    color: red;
  }
  
  .login-form label {
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #555;
  }
  
  .login-form input,
  .login-form select {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(135deg, #effdf1, #14ced4);
    border-image-slice: 1;
    width: 100%;
    background-color: transparent;
    outline: none;
  }
  
  .login-form input::placeholder,
  .login-form select::placeholder {
    color: #5b77f2;
    opacity: 1;
    font-family: 'Afacad', sans-serif;
  }
  
  .login-form input:focus,
  .login-form select:focus {
    border-bottom: 2px solid;
    border-image: linear-gradient(135deg, #effdf1, #14ced4);
    border-image-slice: 1;
  }
  
  .login-form select {
    color: #5b77f2;
  }
  
  .login-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-actions button {
    display: flex;
    padding: 10px 100px;
    margin-top: 20px;
    background: linear-gradient(135deg, #effdf1, #14ced4);
    border: none;
    border-radius: 8px;
    color: #5b77f2;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-actions button:hover {
    background-color: #5b77f2;
  }

  @media (max-width: 350px) {
    .login-card {
      max-height:90%
    }

    .login-card-right {
      padding: 30px;
   
    }

    .login-actions {
      margin-top: -6px;
  }

  .login-form select {
    margin-top: -25px;
  }
}
  
  @media (max-width: 600px) {
    .login-card {
      flex-direction: column;
      max-width: 500px;
      max-height:85%
    }
  
   .login-card-left {
      padding: 63px;  
  }
  
  .login-card-right {
    padding: 28px;
 
  }
    .login-card-left h1 {
      font-size: 20px;
      margin-top: -50px;
  }

  .login-card-left p {
    font-size: 16px;
    margin-left: 136px;
    margin-top: -104px;
  }
    
    .login-card-right h2,
    .login-card-right h3,
    .login-card-right p {
      font-size: 1em;
    }
  
    .login-actions button {
      padding: 10px;
      font-size: 0.9em;
      margin-top: -12px;
    }

    .password-requirements {
      margin-top: -17px;
      display: flex;
     flex-direction: row;
    }
    

  }
  