.activity-feed-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    position: relative;
 
}

.search-filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
   
  }
  
  .filter-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    align-items: center;
    padding: 0;
   
  }
  
  .filter-buttons-mobile {
    display: none;
  }

  .phone-widget-toggle-button {
    position: fixed;
    left: 10px;
    top: 140px;
    z-index: 1001;
    background-color: #27c1a7;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .phone-widget-toggle-button:hover {
    background-color: #1e9f92;
  }
  
.styledList {
    background-color: white;
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
    padding: 0 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .styledListItemButton {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 12px 0;
    background-color: white;
  }
  
  .styledListItemButton:hover {
    background-color: #27c1a7;
  }
  
  .styledListItemButton:last-child {
    border-bottom: none;
  }
  
  .dateHeader {
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #27c1a7;
    background-color: #effffc;
  }
  
  .callDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    font-size: 18px;
    flex-grow: 1;
  }
  
  .iconStyle {
    font-size: 18px;
    font-weight: bold;
    margin-right: 12px;
  }
  
  .callTimeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-right: 200px;
   
   
  }
  
  .callTime {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: grey;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: 22px;
  }
  
  .callDuration {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: grey;
    margin-top: 6px;
  }
  
  .callTypeIcon {
    margin-right: 10px;
  }
  
  .callDirectionIcon {
    color: red;
    margin-right: 10px;
  }

  .additionalDetails {
    color: black;
    font-size: 16px;
}

.no-calls-message {
    color: #ff0000; 
    font-size: 18px; 
    text-align: left;
    margin: 20px 0;
  }
  

  /* Media Queries */
  @media (max-width: 350px) {
    .phone-widget-toggle-button {
      margin-top: 5px;
      margin-left: -21px;
       
      }

  }
  @media (max-width: 600px) {

    .filter-toggle-button {
        display: flex;
      }

    .filter-button.selected {
        background-color: #27c1a7;
        color: white;
        font-weight: bold;
      }
    
    .filter-buttons {
        display: none;
      }
    
    .filter-buttons-mobile {
        display: flex;
      }
      
    .styledList {
        font-size: 14px;
        padding: 0 10px; 
        margin: 10px; 
        
    }
       
    .styledListItemButton {
      padding: 30px;
      align-items: flex-start;
      flex-direction: row;
  
    }
  
    .callTimeContainer {
        margin-right: 0;
        margin-left: auto;
      }

      .phone-widget-toggle-button {
        top: 183px;
        left: 112px;
       
        
    }


  }
  